
a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between  ;
}

.left-header > img {
    width: 200px;
}

.left-header, .right-header {
    display: flex;
    align-items: center;
    height: 100px;
}

.right-header > .menu {
    list-style: none;
}

.menu > li {
    display: inline-block;
    margin: 0 1rem;
}

.active {
    color: #0CD977;
    text-decoration: underline;
}

.right-header > button {
    margin-left: 1rem;
}

button.main-btn {
    background-color: #FFFFFF;
    color: #0CD977;
    border: 2px solid #0CD977;
    border-radius: 5px;
    padding: 0.5rem 1rem;   
}